/* imported fonts */
@import url('https://fonts.googleapis.com/css2?family=Kadwa:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

html{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
}

/* headings */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Kadwa', serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1;    
    margin-block: 2rem 1rem;
}

h1 {
    font-size: 2.75rem;
}

h2 {
    font-size: 2.25rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.75rem;
}

h5 {
    font-size: 1.5rem;
}

h6 {
    font-size: 1.25rem;
}

.underline {
    border-bottom: solid 4px var(--secondary-color);
}

 /* text */
p {
    margin-block: .75rem;
}

code {
    font-family: 'Source Code Pro', monospace;
    font-size: 0.875rem;
    font-weight: 400;    
    font-style: normal;
    color: var(--primary-color);
}

a {
    color: var(--secondary-color);
    font-weight: 400;
    text-decoration: none;
}

b {
    font-weight: 600;
}

mark {
    background-color: var(--primary-color)
}

ol, ul {
    padding-left: 2rem;
}

li {
    line-height: 1.5rem;
}

ol li::marker {
    font-weight: 600;
}

ul li {
    list-style-type: disc;
}

.button {
    display: inline-block;
    text-transform: lowercase;
    color: var(--black-color);
    border: 2px solid var(--black-color);
    padding: .5rem 0.75rem;
    margin: 1rem;
    border-radius: 2rem;
    transition: 0.5s;
}

.button--reversed {
    color: var(--white-color);
    border: 2px solid var(--white-color);
}

.button:hover{
    border: 2px solid var(--primary-color);
    transition: 0.5s;
}


/* colors */
:root {
    --white-color: #fff;
    --black-color: #000;
    --grey-color: #dedede;
    --primary-color: #ff9533;
    --secondary-color: #932295;
}

/* tables*/

.table__caption {
    font-family: 'Kadwa', serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.2rem;
}

table {
    border-collapse: collapse;
}

td, th {
    border: 2px solid var(--black-color);
    padding: .75rem;
    text-align: left;
    background-color: var(--white-color);
}

th{
    background-color: var(--primary-color);
    font-weight: 600;
    color: var(--white-color);
}


.table--reversed .table__caption {
    color: var(--white-color);
}


.table--reversed {
    border-collapse: separate;
}

.table--reversed td,
.table--reversed th {
    
    border: none;
    padding: .75rem;
    text-align: left;
    background-color: var(--white-color);
}

.table--reversed th{
    background-color: var(--primary-color);
    font-weight: 600;
    color: var(--white-color);
}

/* images */

img {
    width: 100%;
    display: block;
    margin: 0;
    padding: 0;
    height: 100%;
    object-fit: cover;
    transition: .5s;
}

.gallery {
    display: grid;
    grid-auto-flow: dense;
    grid-gap: 1rem;
    grid-template-rows: auto;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
}

.gallery img {
    aspect-ratio: 1;
}

figure {
    overflow: hidden;    
    border-radius: 2rem;
    position: relative;
}

.gallery figure {   
    border-radius: 0;
}

figure:hover img {
    transform: scale(1.25);
    transition: transform .5s;
}

figcaption {
    font-size: 1rem;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    bottom: -100%;
    left: 0;
    pointer-events: none;
    user-select: none;
    color: var(--white-color);
    font-weight: 600;
    transition: all ease .25s;
    width: 100%;
    height: 100%;
    padding: 5% 2rem;
    background: linear-gradient(to bottom, transparent, var(--primary-color));
    opacity: 0;
    text-align: center;
    box-sizing: border-box;
}

figure:hover figcaption {
    bottom: 0;
    transition: all ease .5s;
    opacity: 100;
}

.gallery figcaption {
    font-size: .875rem;
    padding: 10% 1rem;
}
