/* hidden hamburger-menu */
.hamburger-menu {
    display: none;
}

/* creating a hamburger menu icon */

.hamburger-menu__line {
    position: absolute;
    height: 2px;
    width: 100%;
    background: var(--white-color);
    left: 0;
    transition: ease 1s;
}

.hamburger-menu__line:nth-child(1) {
    top: 0px;
}
  
.hamburger-menu__line:nth-child(2) {
    top: 8px;
}
  
.hamburger-menu__line:nth-child(3) {
    bottom: 0px;
}

/* media queries */

@media screen and (max-width: 768px)  {  
    .hamburger-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: inherit;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 0;
        width: 30px;
        height: 18px;
        position: relative;
        margin-right: 1rem;
    }

    .hamburger-menu--active .hamburger-menu__line {
        transition: ease 1s;
    }

    .hamburger-menu--active .hamburger-menu__line:nth-child(1) {
        top: 8px;
        transform: rotate(45deg);
        transition: top .5s, transform .5s .5s;
    }
      
    .hamburger-menu--active .hamburger-menu__line:nth-child(2) {
        top: 8px;
        position: absolute;
        transform: scale(0);
        transition: transform .5s .5s;
    }
      
    .hamburger-menu--active .hamburger-menu__line:nth-child(3) {
        bottom: 8px;
        transform: rotate(-45deg);
        transition: bottom 1s, transform .5s .5s;
    }

    /* hidden navbar-list */
    
    .navbar-list--hidden {
        opacity: 0;
        z-index: -1;
    }

    .navbar-list {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        padding: 0;
        margin-top: 0;
        display: flex;
        height: 100vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 4rem;
    }

    /* background */

    .body:has(.hamburger-menu--active) {
        overflow: hidden;
    }

    .header--relative:has(.hamburger-menu--active) {
        position: static;
    }

    .header--relative:has(.hamburger-menu--active) .video-background {
        z-index: 0;
    }
}
